<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


<a th:text="${ma.namaHero}"></a>
<a th:text="${ma.levelHero}"></a>
<a th:text="${ma.statusHero}"></a>



</body>
</html>