<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Daftar Produk</h1>
	<table>
		<tr>
			<td>kode</td>
			<td>nama</td>
			<td>harga</td>
		</tr>
	</table>
	<tr th:each = "produkModel:$(produkModelList)">
		<td><a th:text="$(produkModel.kodeProduk)"</a></td>
		<td><a th:text="$(produkModel.namaProduk)"</a></td>
		<td><a th:text="$(produkModel.hargaProduk)"</a></td>
	</tr>
</body>
</html>