<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h2>Tambah Data</h2>
	
	<form action="cari_aja_sendiri" method="post">
	Masukkan nama : <input type="text" name="cariNama">
	<button type="submit">O</button>
	</form>
	<br>
	<table border="1">
		<tr>
			<td>Kode</td>
			<td>Nama</td>
			<td>Harga</td>
		</tr>
		<tr th:each="produkModel:${produkModelList}">
			<td><a th:text="${produkModel.kodeProduk}"></a></td>
			<td><a th:text="${produkModel.namaProduk}"></td>
			<td><a th:text="${produkModel.hargaProduk}"></td>
		</tr>
	</table>
</body>
</html>