<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table border="1" cellpadding="5">
<tr>
<td>Nama</td>
<td>email</td>
</tr>
<tr><td><a th:text="${nama}"></a></td>

	<td><a th:text="${jabatan}"></a></td>
</tr>
</table>

</body>
</html>