<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Banyak Dosen</h1>
	<table border="1">
		<tr>
			<td>NamaDosen</td>
			<td>UsiaDosen</td>
			<td>update</td>
			<td>delete</td>
		</tr>
		<tr th:each="dosenModel:${dosenModelList}">
			<td><a th:text="${dosenModel.namaDosen}"></a></td>
			<td><a th:text="${dosenModel.usiaDosen}"></a></td>
		    <td><a th:href="@{ubah_dosens?(namaID=${dosenModel.namaDosen})}">link ubah</a></td>
			<!-- Sintax untuk mengambil value ID , ID = namaDosen -->
		
		    <td><a th:href="{@hapus?(namaID=${dosenModel.namaDosen})}">link hapus</a></td>
			<!-- Sintax untuk mengambil value ID , ID = namaDosen  -->
		
		</tr>
	</table>
</body>
</html>