<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Cari Nama Dosen</h1>
	
	<form action="proses_cari_nama" method="post">
		Nama : <input type="text" name="katakunci_nama"> <button type="submit">Cari</button>
	</form>
	<table border="1">
		<tr>
			<td>NamaDosen</td>
			<td>UsiaDosen</td>
		</tr>
		<tr th:each="dosenModel:${dosenModelList}">
			<td><a th:text="${dosenModel.namaDosen}"></a></td>
			<td><a th:text="${dosenModel.usiaDosen}"></a></td>
		</tr>
	</table>
</body>
</html>