<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Cari Usia Dosen</h1>
	
	<form action="proses_cari_usia" method="post">
		Usia :
		
		<select name="katakunci_operator" >
		   <option value="="  >=</option>
		   <option value=">"  >></option>
		   <option value="<"  > < </option>
		   <option value="=<" > =< </option>
		   <option value=">=" >>=</option>
		   <option value="!=" >!=</option>
		   
		</select>
	 
	  <input type="text" name="katakunci_usia"> <button type="submit">Cari</button>
	 
	</form>
	<table border="1">
		<tr>
			<td>NamaDosen</td>
			<td>UsiaDosen</td>
		</tr>
		<tr th:each="dosenModel:${DosenModelList}">
			<td><a th:text="${dosenModel.namaDosen}"></a></td>
			<td><a th:text="${dosenModel.usiaDosen}"></a></td>
		</tr>
	</table>
</body>
</html>